/**
 * General CSS File
 * Contains defaults and presets
 *
 * The Idea is to keep editing in this file to a
 * minimum while using vars.scss for very basic styling.
 */


@import 'vars';



/*==================================================================================
  GENERAL
==================================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;

  -webkit-tap-highlight-color: transparent;
}

html {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: $html__fontname;
  font-size: $base_size; // only used for rem-handling, the actual font-size is $body__fontsize
  color: $html__textcolor;
  background-color: $html__bgcolor;
  @include vpw_min($scaling_endpoint) {
    font-size: $scaling_endpoint / 100 * stripunit($base_size);
  }
  @include mobile {
    font-size: $base_size_mobile;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body  {
  // used as wrapper for sticky footer
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: $body__fontsize;
  font-weight: $body__fontweight;
  line-height: $body__lineheight;
  @include mobile {
    font-size: $body__fontsize_mobile;
  }
}



/*==================================================================================
  PRESETS
==================================================================================*/

// defaut wowjs div
.wow {
  visibility: hidden;
}

// anchor div to fix .top overlap when navigation through 'domain.tld/#anchor'
.anchor {
  display: block;
  height: $header_height;
  margin-top: -$header_height;  // negative top_height
}
